.divStyle {
    border-radius : 25px ; width: 800px ; height: 300px ; margin-left: 300px ; margin-top: 50px ; background-color: #7abaff;
}

.inputNextQ{
    margin-top: 0 ; margin-left: 400px;
}

.textArea{
    border-radius: 10px ; background-color: #bee5eb ; width: 400px ; height: 100px ; margin-left: 20px;
}

.signUpDiv{
    margin-left: 550px;margin-top: 10px
}

.inputText{
    border-radius: 10px;background-color: #fff3cd
}

.aButton{
    font-size: large;margin-top: 10px;width: 400px;background-color: #856404;
}

.correctAnswerDiv{
    width: 800px;
    height: 400px;
    margin-left: 300px;
    margin-top: 150px;
    background-color: #86cfda;
    border-radius: 20px;
}

.timeSection{
    width: 400px;height: 100px;margin-top: 50px;margin-left: 480px;border-radius: 10px;
    background-color: #8fd19e;
}