<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add-exam-to-course</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #dee2e6">

<!-- model : "exam" *** model : "courseId" *** "courseService" -->

<p style="margin-top: 30px;text-align: center;font-size: x-large">ایجاد آزمون جدید</p>
<div style="border-radius: 15px;background-color: #7abaff ; opacity: 0.9 ; width: 600px ; height: 600px ; margin-left: 380px ; margin-right: 200px ; margin-top: 50px">
    <form class="form-group" th:action="@{/teacher/addExam/(courseId = ${courseId})}" method="post" th:object="${exam}">
        <div style="padding: 5px 30px 30px">
            <label>نام آزمون</label><br>
            <input class="form-control" type="text" th:field="*{name}" name="name">
        </div>
        <div style="padding: 5px 30px 30px">
            <label>توضیح در مورد آزمون</label><br>
            <input class="form-control" type="text" th:field="*{description}" name="description">
        </div>
        <div style="padding: 5px 30px 30px">
            <label>تاربخ ایجاد آزمون</label><br>
            <input class="form-control" type="date" th:field="*{createdDate}" name="description">
        </div>
        <div style="padding: 5px 30px 30px">
            <label>زمان مورد نیاز(دقیقه)</label><br>
            <input class="form-control" type="text" th:field="*{time}" name="time">
        </div>
        <div style="padding: 5px 30px 30px">
            <label>نمره قبولی آزمون</label><br>
            <input class="form-control" type="text" th:field="*{passingScore}" name="time">
        </div>
        <div style="padding: 1px 30px 30px">
            <button type="submit" class="btn btn-primary" style="border-radius: 10px">
                اضافه کردن آزمون
            </button>
            <a class="btn btn-primary" style="border-radius: 10px"
               th:href="@{/teacher/backToMainMenuOfTeacher/(teacherId = ${courseService.findCourseById(courseId).teacher.id})}">بازگشت به صفحه اصلی</a>
        </div>
    </form>
</div>

</body>
</html>