<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new course</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link href="/css/myCss.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #17a2b8">


    <h2 style="text-align: center">تعریف دوره جدید</h2><br>

<div style="width: 500px;height: 500px;border-radius: 10px;margin-left: 400px;background-color: #bee5eb">
    <form th:action="@{/admin/addNewCourse}" th:object="${newCourse}" method="post">

            <label style="margin-left: 150px;margin-top: 30px">عنوان دوره</label><br>
            <input style="margin-left: 150px" type="text" th:field="*{title}" name="title" class="inputText">

            <label style="margin-left: 150px;margin-top: 30px">تاریخ شروع</label>
            <input style="margin-left: 150px" type="date" th:field="*{startDate}" name="startDate" class="inputText">

            <label style="margin-left: 150px;margin-top: 30px">تاریخ پایان</label>
            <input style="margin-left: 150px"type="date" th:field="*{endDate}" name="endDate" class="inputText"><br>

        <button style="border-radius: 10px;margin-left: 150px;margin-top: 30px" class="btn btn-primary" type="submit">ایجاد دوره</button>
        <a class="btn btn-primary" style="border-radius: 10px;margin-left: 10px;margin-top: 30px" th:href="@{/admin/backToAdmin}">برگشت به صفحه اصلی</a>
    </form>
</div>

</body>
</html>