<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addNewMultiChoiceQuestion</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- "multiChoiceQuestion"
     "teacherId" -->

<body style="background-color: lightcyan">

<div class="alert alert-success" role="alert" style="text-align: center">
    افزودن سوال چندگزینه ای
</div>
<div style="width: 500px;background-color: #adb5bd;border-radius: 15px;margin-left: 400px;justify-content: center;display: flex">
<form id="myForm" th:action="@{/teacher/addNewMultiChoiceQuestion/__${teacherId}__}" class="form-group"
      th:object="${multiChoiceQuestion}" method="post">

        <label>صورت سوال</label><br>
        <input type="text" th:field="*{text}"><br>

        <label>عنوان سوال</label><br>
        <input type="text" th:field="*{title}"><br>

        <label>نمره پیش فرض</label><br>
        <input type="text" th:field="*{defaultScore}"><br>

        <label>تاریخ ایجاد سوال</label><br>
        <input type="date" th:field="*{createdDate}"><br>

    <p>گزینه های جواب(تعداد گزینه ها اختیاری می باشد)</p>

    <textarea th:field="*{answers[0].text}" placeholder="1"></textarea>
    <textarea th:field="*{answers[1].text}" placeholder="2"></textarea><br>
    <textarea th:field="*{answers[2].text}" placeholder="3"></textarea>
    <textarea th:field="*{answers[3].text}" placeholder="4"></textarea><br>
    <textarea th:field="*{answers[4].text}" placeholder="5"></textarea>
    <textarea th:field="*{answers[5].text}" placeholder="6"></textarea><br>

    <button class="btn btn-primary" type="submit" style="border-radius: 10px;width: 170px;height: 62px">افزودن سوال</button>
    <a class="btn btn-primary" style="border-radius: 10px;width: 170px" th:href="@{/teacher/backToMainMenuOfTeacher/(teacherId = ${teacherId})}">برگشت به داشبورد اختصاصی</a>

</form>
</div>
</body>
</html>