<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create-new-detailed-question</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "detailedQuestion" *** model:"examId" -->

<body style="background-color: lightcyan">

<div class="alert alert-success" role="alert" style="text-align: center">
    افزودن سوال تشریحی جدید
</div>

<div style="background-color: #adb5bd ; border-radius : 15px ; width: 600px ; height: 500px ; margin-left: 400px ; margin-top: 50px">
    <form class="form-group" th:action="@{/question/addNewDetailedQuestion/__${examId}__}" method="post" th:object="${detailedQuestion}">

        <div style="padding: 5px 30px 30px">
            <textarea style="height: 100px;margin-top: 20px" class="form-control" th:field="*{text}" name="text" placeholder="صورت سوال"></textarea>
        </div>
        <div style="padding: 5px 30px 30px">
            <input class="form-control" th:field="*{title}" type="text" name="title" placeholder="عنوان سوال">
        </div>
        <div style="padding: 5px 30px 30px">
            <span style="color: white">
                    تاریخ ایجاد سوال
            </span>
            <input class="form-control" th:field="*{createdDate}" type="date" name="createdDay">
        </div>
        <div style="padding: 5px 30px 30px">
            <span style="color: white">
                    نمره پیش فرض
            </span>
            <input class="form-control" th:field="*{defaultScore}" type="text" name="defaultScore">
        </div>
        <div style="padding: 5px 30px 30px">
            <input style="border-radius: 10px" type="submit" class="btn btn-primary" value="ایجاد سوال">
            <a class="btn btn-primary" style="border-radius: 10px;width: 300px"
               th:href="@{/teacher/backToMainMenuOfTeacher/(teacherId = ${examService.findExamById(examId).createdBy.id})}">برگشت به داشبورد اختصاصی</a>
        </div>
    </form>
</div>

</body>

</html>