<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exam-start</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "question"
     model : "questionAnswerDto"
     model : "questionCounter" -->

<body>

<div style="width: 100% ; height: 300px ; justify-content: center ; background-color: #34ce57">
<form th:action="@{/student/submitQuestion/__${examId}__/__${studentId}__/__${questionCounter + 1}__}" method="post" th:if="${question.type.toString() == 'MultiChoice'}">
    <label style="text-align: center" th:text="${question.text}" ></label><br>
    <input hidden type="number" th:field="*{questionAnswerDto.questionId}">

    <input type="radio" th:field="*{questionAnswerDto.answerId}"
           th:each="choice : ${question.answers}" th:text="${choice.text}" th:value="${choice.id}"><br>

    <input type="submit" class=" btn btn-primary" value="next question">
</form>
</div>

<form th:action="@{/student/submitQuestion/__${examId}__/__${studentId}__/__${questionCounter + 1}__}" method="post" th:if="${question.type.toString() == 'Detailed' }">
    <label th:text="${question.text}" ></label><br>
    <input hidden type="number" th:field="*{questionAnswerDto.questionId}">

    <textarea th:field="*{questionAnswerDto.detailedAnswer}"></textarea>

    <input type="submit" class=" btn btn-primary" value="next question">
</form>

<form th:action="@{/student/submitQuestion/__${examId}__/__${studentId}__/__${questionCounter - 1}__}" method="post">
    <input type="submit" class="btn-primary" value="previous question" th:disabled="${questionCounter == 0}">
    <input hidden type="number" th:field="*{questionAnswerDto.questionId}">
</form>

</body>
</html>