<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exam-finish-automatic-scoring</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "numberOfExamQuestions"
     model : "numberOfAnsweredQuestions"
     model : "numberOfCorrectAnswered"
     model : "studentExamPaper" -->

<body>

<div id="myDiv" style="width: 1200px ; height: 200px ; margin-left: 50px ; margin-top: 200px ;">
    <h3 id="myHeader" style="text-align: center"></h3>
    <table class="table table-striped"style="padding-top: 20px">
        <thead>
        <tr>
            <td style="text-align: center">تعداد سوالات</td>
            <td style="text-align: center">تعداد سوالات پاسخ داده شده</td>
            <td style="text-align: center">تعداد پاسخ های صحیح</td>
            <td style="text-align: center">نمره کل آزمون</td>
            <td style="text-align: center">نمره قبولی آزمون</td>
            <td style="text-align: center">نمره دریافتی شما</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center" th:text="${numberOfExamQuestions}"></td>
            <td style="text-align: center" th:text="${numberOfAnsweredQuestions}"></td>
            <td style="text-align: center" th:text="${numberOfCorrectAnswered}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.totalScore}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.passingScore}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.studentScore}" id="myCell"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/student/backToStudent/__${studentId}__}">بازگشت به صفحه اصلی</a>
</div>

<script th:inline="javaScript">

    /*<![CDATA[*/

    var passingScore = /*[[${studentExamPaper.passingScore}]]*/  0;
    var studentScore = /*[[${studentExamPaper.studentScore}]]*/  0;

    /*]]>*/

    var x = setInterval(

    function cellColor() {

        var myCell = document.getElementById("myCell");
        var myDiv = document.getElementById("myDiv");
        var myHeader = document.getElementById("myHeader");

        if (studentScore>passingScore){

            myCell.style.backgroundColor = "#adff2f"
            myDiv.style.backgroundColor = "#ffc0cb"
            myHeader.innerText = "شما آزمون را با موفقیت گذراندید";
        }
        else if (studentScore == passingScore){
            myCell.style.backgroundColor = "#ffff00"
            myDiv.style.backgroundColor = "#ffA500"
            myHeader.innerText = "شما آزمون را با موفقیت گذراندید";
        }
        else {
            myCell.style.backgroundColor = "#FF0000"
            myDiv.style.backgroundColor = "#778899"
            myHeader.innerText = "متاسفانه نمره کسب شده شما به حد نصاب نرسید";
        }
    });
</script>

</body>
</html>