<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #9fcdff">

<div class="container" style="justify-content: center ; display: flex">
    <div>
        <div>
            <form class="form-control-lg" action="/signIn" method="get">
                <span>
                    Account Login
                </span>
                <div>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div>
                    <button type="submit" class="btn-primary">
                        sign in
                    </button>
                </div>
                <div>
                    <span>
                        create an account?
                    </span>
                    <a href="/signUp">
                        sign up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>