<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<body style="background-image: url('images/dark-quiz.jpg') ; background-size: cover">

<div style="background-color: saddlebrown ; opacity: 0.8 ; width: 400px ; height: 300px ; margin-left: 500px ; margin-right: 200px ; margin-top: 100px">
    <form class="form-group" action="/signIn" method="get">
                <span style="padding-left: 30px ; color: white">
                    Account Login
                </span>
        <div style="padding: 5px 30px 30px">
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div style="padding: 5px 30px 30px">
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div style="padding: 1px 30px 30px">
            <button type="submit" class="btn btn-primary">
                sign in
            </button>
        </div>
        <div style="padding: 1px 30px 30px">
                    <span style="color: white">
                        create an account?
                    </span>
            <a class="btn btn-primary" href="/signUp">
                sign up
            </a>
        </div>
    </form>
</div>

</body>

</html>