<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list-exams-of-course</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "exams" -->

<body>

<table class="table table-striped table-dark">
    <caption></caption>
    <thead>
    <tr>
        <td>name</td>
        <td>date</td>
        <td>number of questions</td>
        <td colspan="8">action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exam : ${exams}">
        <td th:text="${exam.name}"></td>
        <td th:text="${exam.createdDate}"></td>
        <td th:text="${exam.questions.size()}"></td>

        <td><form th:action="@{/teacher/editExam/__${exam.id}__}"><button type="submit" class="btn btn-warning"></button></form>edit</td>
        <td>questions</td>
        <td>
            <button class="btn btn-light" th:onclick="|confirm(${exam.id})|">publish exam</button>
        </td>
        <td>
            <form th:action="@{/signIn}">
                <input hidden class="btn btn-danger" th:id="${exam.id}" type="submit" value="publish confirm">
            </form>
        </td>
        <td>
            <button class="btn btn-light" th:onclick="|confirm(${exam.id})|">unpublish exam</button>
        </td>
        <td>
            <form th:action="@{/signIn}">
                <input hidden class="btn btn-danger" th:id="${exam.id}" type="submit" value="unpublish confirm">
            </form>
        </td>
        <td>
            <button class="btn btn-light" onclick="confirm(500)">delete</button>
        </td>
        <td>
            <form th:action="@{/exam/delete/(examId = ${exam.id})}">
                <input hidden class="btn btn-danger" id="500" type="submit" value="delete confirm">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function confirm(id) {
        if (document.getElementById(id).hidden == false)
            document.getElementById(id).hidden = true;
        else
            document.getElementById(id).hidden = false;
    }
</script>

</body>
</html>