<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list-course-exams</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "courseExams" -->

<body>

<table class="table table-striped table-light">
    <thead>
    <tr>
        <th>exam name</th>
        <th>exam time</th>
        <th>exam description</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exam : ${courseExams}">
        <td th:text="${exam.name}"></td>
        <td th:text="${exam.time}"></td>
        <td th:text="${exam.description}"></td>
        <td>
            <form th:action="@{/student/gotThisExam/__${exam.id}__/__${studentId}__}">
                <button class="btn btn-primary" type="submit">got this exam</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>