<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list-student-courses</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "studentCourses" -->

<body>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>course name</th>
        <th>start date</th>
        <th>teacher</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${studentCourses}">
        <td th:text="${course.title}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.teacher.lastName}"></td>
        <td>
            <form th:action="@{/student/examsOfCourse/__${course.id}__/__${studentId}__}">
                <button class="btn btn-primary" type="submit">go</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>