<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list all courses</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">

    <div>
        <H2 style="text-align: center">لیست تمام دوره ها</H2>
        <a class="btn btn-dark" style="color: white" th:href="@{/admin/addNewCourse}">افزودن دوره جدید</a>
        <table class="table table-stripped table-primary" style="border-radius: 10px">
            <thead>
            <tr>
                <th>عنوان دوره</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>استاد</th>
                <th>دانش آموزان دوره</th>
            </tr>
            </thead>
            <tr th:each="course:${allCourses}">
                <td th:text="${course.title}">title</td>
                <td th:text="${course.startDate.toString()}">start date</td>
                <td th:text="${course.endDate.toString()}">end date</td>
                <td th:text="${course.teacher.firstName + ' ' + course.teacher.lastName}">teacher</td>
                <td><a th:href="@{/admin/listStudentsOfACourse/(id = ${course.id})}" class="btn btn-warning">دانش آموزان دوره</a></td>
            </tr>
        </table>
        <a class="btn btn-dark" style="color: white" href="/admin/backToAdmin">برگشت به داشبورد اختصاصی</a>
    </div>

</div><!-- /.container -->

</body>
</html>