<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list-students-of-a-course</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: rebeccapurple">

<!-- model : "course" *** model : "students" (students of this course)-->

        <a class="btn btn-dark" style="margin-top: 10px ;margin-bottom: 10px ; color: white" th:href="@{/admin/addStudentToCourse/(courseId = ${course.id})}">
            افزودن دانش آموز به دوره
        </a>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>نام کاربری</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>ایمیل</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.username}">username</td>
                <td th:text="${student.firstName}">first name</td>
                <td th:text="${student.lastName}">last name</td>
                <td th:text="${student.email}">email</td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-dark" style="color: white" href="/admin/backToAdmin">برگشت به داشبورد اختصاصی</a>

</body>
</html>