<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list-questions-of-exam</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<!-- model : "questions" of an exam *** model : "examId" the id of exam *** "examService" -->

<body style="background-color: lemonchiffon">

<div role="alert">
    <h2 class="alert-heading" style="text-align: center">لیست سوالات این آزمون</h2>
</div>

<form th:action="@{/question/addQuestion/__${examId}__}">
    <button class="btn btn-primary" type="submit" style="margin-top: 30px">افزودن سوال به این آزمون</button>
</form>

<table class="table table-striped table-primary">
    <thead>
    <tr>
        <th>عنوان سوال</th>
        <th>نمره پیش فرض</th>
        <th colspan="3">عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.title}"></td>
        <td th:text="${question.defaultScore}"></td>
        <td>
            <form th:action="@{/question/editQuestion/__${question.id}__/__${examId}__}">
                <button class="btn btn-warning" type="submit">ویرایش</button>
            </form>
        </td>
        <td>
            <button class="btn btn-warning" th:onclick="|deleteConfirm(${question.id})|">حذف سوال از آزمون</button>
        </td>
        <td>
            <form th:action="@{/question/deleteQuestion/__${question.id}__/__${examId}__}">
                <input hidden type="submit" class="btn btn-danger" th:id="${question.id}" value="delete confirm">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/teacher/backToMainMenuOfTeacher/(teacherId = ${examService.findExamById(examId).createdBy.id})}" class="btn btn-primary">برگشت به داشبورد اختصاصی</a>
    <a th:href="@{/teacher/listExamsOfCourse/(courseId=${examService.findExamById(examId).course.id})}" class="btn btn-primary">بازگشت به لیست آزمون ها</a>
</div>

<script>
    function deleteConfirm(id) {
        if (document.getElementById(id).hidden == false)
            document.getElementById(id).hidden = true;
        else
            document.getElementById(id).hidden = false;
    }
</script>

</body>
</html>