<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search-users</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #cbd3da">

<!-- model : "searchDto" include firstName , lastName , role *** "allRoles" -->

<form method="get" th:action="@{/admin/submitSearch}" th:object="${searchDto}">

    <div class="form-group">
        <label for="firstName">نام</label>
        <input class="form-control" th:field="*{firstName}" id="firstName" placeholder="نام" name="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">نام خانوادگی</label><br>
        <input class="form-control" th:field="*{lastName}" id="lastName" placeholder="نام خانوادگی" name="lastName">
    </div>
    <div class="form-group">
        <label class="my-1 mr-2" for="role">رل (نقش)</label>
    <select class="custom-select-sm" th:field="*{role}" id="role">
        <option th:each="role : ${allRoles}"
                th:value="${role.roleType.toString()}"
                th:text="${role.roleType.toString()}"
                th:if="${role.roleType.toString() != 'Admin'}">
        </option>
    </select>
    </div>
    <button class="btn btn-primary my-1" type="submit">جستجو</button>
</form>


</body>
</html>