<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search-users</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link href="/css/myCss.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #cbd3da">

<!-- model : "searchDto" include firstName , lastName , role *** "allRoles" -->

<div style="width: 500px;height: 400px;margin-left: 450px;margin-top: 150px;background-color: #7abaff;border-radius: 15px">
<form method="get" th:action="@{/admin/submitSearch}" th:object="${searchDto}">

        <label for="firstName" style="margin-top: 10px;margin-left: 10px">نام</label><br>
        <input th:field="*{firstName}" id="firstName" name="firstName" style="margin-left: 15px;border-radius: 10px"><br>

        <label for="lastName" style="margin-top: 10px;margin-left: 10px">نام خانوادگی</label><br>
        <input th:field="*{lastName}" id="lastName" name="lastName" style="margin-left: 15px;border-radius: 10px"><br>

        <label for="role" style="margin-top: 10px;margin-left: 10px">رل (نقش)</label><br>
        <select th:field="*{role}" id="role" style="background-color: #8fd19e;height: 35px;border-radius: 5px;margin-left: 15px">
            <option th:each="role : ${allRoles}"
                th:value="${role.roleType.toString()}"
                th:text="${role.roleType.toString()}"
                th:if="${role.roleType.toString() != 'Admin'}">
            </option>
        </select>

    <button class="btn btn-primary" type="submit" style="width: 150px;margin-left: 30px">جستجو</button>
    <a class="btn btn-warning btn-block" style="margin-top: 50px" th:href="@{/admin/backToAdmin}">بازگشت به داشبورد اختصاصی</a>
</form>
</div>
</body>
</html>