<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>select-correct-answer</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "choicesList" *** model : "multiChoiceQuestion" *** model : "examId" -->

<body>

<form th:action="@{/question/selectCorrectAnswer/__${examId}__/__${multiChoiceQuestion.id}__}">
<select name="correctAnswerId">
    <option th:each="choice : ${choicesList}" th:text="${choice.text}" th:value="${choice.id}">

    </option>
</select>
    <input type="submit" value="choose">
</form>

</body>
</html>