<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>selectCorrectAnswer</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link href="/css/myCss.css" rel="stylesheet" type="text/css">
</head>

<!-- "choicesList"
     "multiChoiceQuestion"
     "teacherId" -->

<body style="background-color: #dee2e6">

<div class="correctAnswerDiv">
<form th:action="@{/teacher/selectCorrectAnswer/__${teacherId}__/__${multiChoiceQuestion.id}__}">

    <input type="radio" style="margin-top: 20px;margin-left: 20px"
               th:each="choice : ${choicesList}" th:text="${choice.text}" th:value="${choice.id}" name="correctAnswerId">
    <div style="margin-left: 10px;margin-top: 300px">
        <input style="border-radius: 10px" type="submit" value="انتخاب گزینه صحیح" class="btn btn-primary">
    </div>
</form>
</div>

</body>
</html>