<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ced4da ; background-size: cover">

<div class="container" style="justify-content: center ; display: flex">
    <form role="form" th:action="@{/submitSignUp}" method="post" th:object="${userDto}">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName">first name</label>
            <div class="col-sm-9">
                <input th:field="*{firstName}" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <div class="col-sm-9">
                <input th:field="*{lastName}" type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="col-sm-9">
                <input th:field="*{email}" type="email" id="email" placeholder="Email" class="form-control" name= "email">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <div class="col-sm-9">
                <input th:field="*{mobileNumber}" type="text" id="phoneNumber" placeholder="Phone number" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="nationalCode">National Code</label>
            <div class="col-sm-9">
                <input th:field="*{nationalCode}" type="text" id="nationalCode" placeholder="National Code" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <div class="col-sm-9">
                <input th:field="*{username}" type="text" id="username" placeholder="username" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="col-sm-9">
                <input th:field="*{password}" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Role</label>
            <div>
                <select th:field="*{role}">
                    <option th:each="role : ${allRoles}"
                            th:value="${role.roleType.toString()}"
                            th:text="${role.roleType.toString()}"
                            th:if="${role.roleType.toString() != 'Admin'}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input th:field="*{gender}" type="radio" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input th:field="*{gender}" type="radio" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>

</body>
</html>