<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link href="/css/myCss.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ced4da ; background-size: cover">
    <form role="form" th:action="@{/submitSignUp}" method="post" th:object="${userDto}">
        <fieldset>
            <legend style="text-align: center">ایجاد حساب کاربری</legend>
        <div class="signUpDiv">
            <label>نام</label><br>
            <input th:field="*{firstName}" type="text" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>نام خانوادگی</label><br>
            <input th:field="*{lastName}" type="text" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>ایمیل</label><br>
            <input th:field="*{email}" type="email" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>تلفن همراه</label><br>
            <input th:field="*{mobileNumber}" type="text" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>کد ملی</label><br>
            <input th:field="*{nationalCode}" type="text" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>نام کاربری</label><br>
            <input th:field="*{username}" type="text" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>رمز عبور</label><br>
            <input th:field="*{password}" type="password" class="inputText">
        </div>
        <div class="signUpDiv">
            <label>تاببد رمز عبور</label><br>
            <input th:field="*{passwordConfirm}" type="password" class="inputText">
        </div>

        <div class="signUpDiv">
            <label>سوال امنیتی(از این سوال در مواقع فراموشی رمز عبور استفاده می شود)</label><br>
            <div>
                <select th:field="*{securityQuestion}">
                    <option th:each="s : ${allSecurityQuestions}"
                            th:value="${s.description}"
                            th:text="${s.description}"
                            th:selected="${allSecurityQuestions.get(0)}">
                    </option>
                </select>
            </div>
        </div>

        <div class="signUpDiv">
            <label>جواب سوال امنیتی</label><br>
            <input th:field="*{securityQuestionAnswer}" type="password" class="inputText">
        </div>

        <div class="signUpDiv">
            <label>رل(نقش)</label><br>
            <div>
                <select th:field="*{role}">
                    <option th:each="role : ${allRoles}"
                            th:value="${role.roleType.toString()}"
                            th:text="${role.roleType.toString()}"
                            th:if="${role.roleType.toString() != 'Admin'}">
                    </option>
                </select>
            </div>
        </div>
        <div class="signUpDiv">
            <label>جنسیت</label><br>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input th:field="*{gender}" type="radio" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input th:field="*{gender}" type="radio" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <button type="submit" style="border-radius: 10px" class="btn btn-primary signUpDiv">ایجاد حساب کاربری</button>
        </fieldset>
    </form>
</fieldset>
</body>
</html>