<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "studentId" -->

<body style="background-image: url('images/exam02.jpg') ; background-size: cover">

<div class="alert alert-success" role="alert" style="opacity: 0.5">
    <h2 class="alert-heading" style="text-align: center">
        students page
    </h2>
</div>

<div class="btn-group-vertical">

    <a class="btn btn-primary" th:href="@{/student/listStudentCourses/__${studentId}__}">لیست دوره های شما</a>

    <a class="btn btn-primary" th:href="@{/student/examsResults/__${studentId}__}">نتایح آزمون</a>

</div>

</body>
</html>