<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student-examPaper</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- "studentExamPaper"
     "examService" -->

<body style="background-color: #138496">

<div id="myDiv" style="border-radius: 20px; width: 1200px ; height: 200px ; margin-left: 70px ; margin-top: 200px ;">
    <h3 id="myHeader" style="text-align: center"></h3>
    <table class="table table-striped" style="padding-top: 30px">
        <thead>
        <tr>
            <td style="text-align: center">تعداد سوالات</td>
            <td style="text-align: center">نمره کل آزمون</td>
            <td style="text-align: center">نمره قبولی آزمون</td>
            <td style="text-align: center">نمره دریافتی شما</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center" th:text="${examService.findExamById(studentExamPaper.examId).questions.size()}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.totalScore}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.passingScore}"></td>
            <td style="text-align: center" th:text="${studentExamPaper.studentScore}" id="myCell"></td>
        </tr>
        </tbody>
    </table>

</div>
<div style="margin-left: 70px">
    <form th:action="@{/student/examsResults/__${studentExamPaper.studentId}__}">
        <button style="border-radius: 10px" type="submit" class="btn btn-primary">بازگشت به لیست برگه های امتحانی</button>
    </form>
    <form th:action="@{/student/backToStudent/__${studentExamPaper.studentId}__}">
        <button style="border-radius: 10px ; margin-left: 300px ; margin-top: -67px" type="submit" class="btn btn-primary">بازگشت به صفحه اصلی</button>
    </form>
</div>

<script th:inline="javaScript">

    /*<![CDATA[*/

    var passingScore = /*[[${studentExamPaper.passingScore}]]*/  0;
    var studentScore = /*[[${studentExamPaper.studentScore}]]*/  0;

    /*]]>*/

    setInterval(
    function cellColor() {

        var myCell = document.getElementById("myCell");
        var myDiv = document.getElementById("myDiv");
        var myHeader = document.getElementById("myHeader");

        if (studentScore>passingScore){

            myCell.style.backgroundColor = "#34ce57"
            myDiv.style.backgroundColor = '#9fcdff'
            myHeader.innerText = "شما آزمون را با موفقیت گذراندید";
        }
        else if (studentScore == passingScore){
            myCell.style.backgroundColor = "#34ce57"
            myDiv.style.backgroundColor = '#9fcdff'
            myHeader.innerText = "شما آزمون را با موفقیت گذراندید";
        }
        else {
            myCell.style.backgroundColor = "#FF0000"
            myDiv.style.backgroundColor = "#778899"
            myHeader.innerText = "متاسفانه نمره کسب شده شما به حد نصاب نرسید";
        }
    });
</script>

</body>
</html>