<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- model : "studentId" -->

<body style="background-image: url('images/the_test.png') ; background-size: cover">

<div style="background-color: #c82333 ; width: 100% ; height: 80px;">
    <h2 style="text-align: center;color: white">
        داشبورد اختصاصی دانش آموز
    </h2>
</div>

<div style="margin-top: 50px;margin-left: 1000px" class="btn-group-vertical">

    <a style="border-radius: 10px;font-size: x-large" class="btn btn-danger" th:href="@{/student/listStudentCourses/__${studentId}__}">لیست دوره های شما</a>
    <a style="border-radius: 10px;font-size: x-large;margin-top: 5px" class="btn btn-danger" th:href="@{/student/examsResults/__${studentId}__}">نتایح آزمون</a>
    <a style="border-radius: 10px;font-size: x-large;margin-top: 5px" class="btn btn-danger" th:href="@{/editAccount/__${studentId}__}">ویرایش حساب کاربری</a>
    <a style="border-radius: 10px;font-size: x-large;margin-top: 5px" class="btn btn-danger" th:href="@{/}">خروج از حساب کاربری</a>

</div>

</body>
</html>