<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success-signup</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading" style="text-align: center">You have signed up successfully...</h4>
    <p style="text-align: center">Your account is in waiting mode</p>
    <hr>
    <p class="mb-0" style="text-align: center">Your account must be activate by admin</p>
</div>

</body>
</html>