<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<!-- model : "teacherId" Long id -->

<body style="background-color: #0b2e13">

<div class="alert alert-success" style="margin-bottom: 0 ; text-align: center" role="alert">داشبورد اختصاصی اساتید</div>

<div style="background-color: #7abaff ; height: 500px ; width: 300px">

    <div class="btn-group-vertical">
        <a th:href="@{/teacher/listTeacherCourses/(teacherId = ${teacherId})}" class="btn btn-warning">list of all your courses</a>
        <form><button class="btn btn-primary" type="submit">1</button></form>
        <form><button class="btn btn-primary" type="submit">1</button></form>
    </div>

</div>

</body>
</html>