<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>username-already-exist</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #c82333">

<div class="alert alert-danger" style="margin-top: 250px">
    <h3 class="alert-heading" style="text-align: center">این نام کاربری قبلا ثبت شده است</h3>
    <h2 class="alert-heading" style="text-align: center">نام کاربری دیگری انتخاب کنید</h2>
    <a href="/signUp" class="btn btn-primary" style="margin-left: 550px">برگشت به صفحه ثبت نام</a>
</div>

</body>
</html>